/* Your application styles go here */
.notificacaoLista{
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
	font-size: 80px;
	color:#1B295B;
}

